html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}
* {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
} 
img {
    display: block;
    max-width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}
body{
    overflow-x: hidden;
    width: 100%;
}
.home-page-Grid{
    display: grid;
    grid-auto-columns:33.33vw;
    width: 100%;
    height: 100%;
}
.background-world{
    grid-column:1 / span 2;
    grid-row:1 / span 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f1728;
}
.background-world img{
    max-width: 100%;
    max-height: 100%;
    height: 92vh;
}
.hero-third-section{
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    background-color:#000E54;
    align-items: left;
    display: flex;
    flex-direction: column;
}
.hero-third-section h1{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    flex-direction: column;
    color: #FFF;
    font-size: 4vw;
    font-family: "Noto Sans";
    font-weight: 800;
}
.hero-third-section p{
    margin: 3rem;
    margin-top: 8vh;
    color: #FFF;
    text-align: center;
    font-size: 2vw;
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 800;
}
.ButtonLarge{
    width: 20VW;
    margin-top: 8vh;
    margin-bottom: 5rem;
    padding-top: 19px; 
    padding-bottom: 19px; 
    background: #8700FF; 
    border-radius: 12px; 
    overflow: hidden; 
    justify-content: center; 
    gap: 10px; 
    display: inline-flex;
    align-self: center;
    text-decoration: none;
    color: white; 
    font-size: 2vw; 
    font-family: Noto Sans; 
    font-weight: 700; 
    word-wrap: break-word;
    text-align: center;
}
.ButtonLarge:hover{
    background-color:#6C00CC ;
    color:#F7EEFF;
}
#mobile-only{
    display:none;
}

@media only screen and (max-width: 800px){
    body{
        background-color: black;
    }
    .home-page-Grid{
        display:flex;
        flex-direction: column;
        background: rgb(0,14,84);
        background: linear-gradient(137deg, rgba(0,14,84,1) 26%, rgba(15,23,52,1) 26%);
        padding-bottom: 2rem;
    }
    .background-world{
        background-color: transparent;
    }
    .hero-third-section{
        background-color: transparent;
    }
    .hero-third-section h1{
        margin-left: 2rem;
        margin-top: 0.5em;
        font-size: 2rem;
        margin-right: 40vw;
    }
    .hero-third-section p{
        font-size: 1rem;
        margin-top: 5vh;
        margin-left: 2rem;
        width: 50vw;
        margin-bottom: 5vh;
        text-align: center;
    }
    .ButtonLarge{
        width: 40vw;
        font-size: 1rem;
        margin-top: 2vh;
        margin-bottom: 2rem;
    }
    .background-world img{
        height: 45vh;
        width: auto;
    }
    #desktop-only{
        display: none;
    }
    #mobile-only{
        display: flex;
        margin-bottom: 0rem;
        width: 50vw;
        font-size: 4vw;
    }
}