.nav-container{
    position: sticky;
    z-index: 10;
    height: 8vh;
    background-color: black;
    width: 100%;
    min-height: 4em;
    backdrop-filter: blur(10px);
}

/* Navigation */
nav {
    display: flex;
    
}

nav h1{
    font-family: "Inter", Sans-serif;
    font-size: 1.3vw;
    font-weight: 550;
    line-height: 1.25em;
    letter-spacing: 0.2px;
    color: white;
    text-decoration: none;
    margin-right: 0rem;
    margin-top: 1rem;
    align-self: flex-start;
    transition: all 1s ease;

}

nav p{
    font-family: "Inter", Sans-serif;
    font-size: 1.3vw;
    font-weight: 550;
    line-height: 1.25em;
    letter-spacing: 0.2px;
    color: #666868;
    text-decoration: none;
    align-self: flex-end;
    transition: all 1s ease;
}

nav a {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 1.25em;
    letter-spacing: 0.2px;
    color: #666868;
    text-decoration: none;
    margin-right: 3em;
    align-self: center;
    transition: all 1s ease;
}

nav a:first-child{
    margin-left: 0em;
}
nav a:last-child{
    margin-right: 3em;
}

nav a:hover {
    text-decoration: none;
    color:white;
}

@media only screen and (max-width: 800px) and (min-width: 450px){
    .nav-container{
        max-width: 100vw;
        overflow-x: hidden;
    }
    nav a {
        font-size: 0.6em;
        margin:0;
    }
    nav h1{
        font-size: 3vw
    }
    nav h1 p{
        font-size: 3vw
    }
    nav :nth-child(1){order: 1; max-height: 5vh}
    nav :nth-child(2){order: 2; margin-left: 1em;}
    nav :nth-child(3){order: 3;}
    nav :nth-child(4){order: 1;}
    nav :nth-child(5){order: 1;}
    nav :nth-child(6){order: 3;}
    nav :nth-child(7){order: 3;}
    
}

@media only screen and (max-width: 449px){
    .nav-container{
        max-width: 100vw;
        overflow-x: hidden;
        margin:0;
    }
    nav {
        align-items: flex-start;
    }
    nav a {
        font-size: 0.5em;
        margin:0;
    }
    nav :nth-child(1){order: 2; max-height: 3vh; align-self: flex-end;}
    nav :nth-child(2){order: 1; margin-left: 1em;}
    nav :nth-child(3){order: 3;}
    nav :nth-child(4){order: 1;}
    nav :nth-child(5){order: 1;}
    nav :nth-child(6){order: 3;}
    nav :nth-child(7){order: 3;}
    
}